.gila-terminal {
    content: url(../img/icons/terminal-1.svg)
}
.gila-heart {
    content: url(../img/icons/heart.svg)
}
.gila-above {
    content: url(../img/icons/above.svg)
}
.gila-rocket {
    content: url(../img/icons/rocket.svg)
}
.gila-tick {
    content: url(../img/icons/tick.svg)
}
.gila-windmill {
    content: url(../img/icons/windmill.svg)
}